body {
    width: 100%;

} 
*{
	/* outline: 1px solid orange; */ 
}
.container { 
	width: 100%;
	margin: 0px auto;
	display: block;
}  
 
#wrapper {
	}

.input {
	width: 502px; 
	margin-top: 20px; 
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	text-align: center;
} 

.edit {
	display: none;
	height:90%;
	font-size: 29px; 
	font-weight: 300;
	font-family:'Open Sans', Arial;
 	
}

input.edit {
	background:transparent;
	border:0px;	
	
}
  
#instructions {
	width: 528px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px 0 0;
	background: #ededed;
	text-align: left;
	font-family:'Roboto', Arial;
	font-size:24px;
	font-weight:300;
	line-height:30px;
} 

#instructions ol {
	list-style-type:decimal;
	list-style-position: initial;
	padding: 0 0px 0 48px;
}

#instructions ol li {
	padding: 0 20px 20px 0;
} 

#instructions ol ul li {
	list-style-type:disc;
list-style-position: inside;

	
} 

.theme-bar {
	min-width: 640px;
	position:relative;
	top: 5px;
	margin: auto;
	text-align:center;
	display:block;
	 
	background: cadetblue;
}

#bottom {
}

.hide {
	display:none;
}

#menu {
	background: slategray;
	width:100%;
	height:68px;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
}

#menu-btn {
	background: slategray;
	width: 82px;
	height: 79px;
	margin:1px 0 0 0;
	float: right; 
}

#menu-btn:hover {
	opacity:0.7;
}
   
#menu-btn p {
	margin: 0px 0 0px 0;
	color:white;
	width: 82px;
	font-weight: 300;		
	font-family: 'Open Sans', Arial;
		
	font-size: 75px;

} 


#menu-btn-container {
	width: 100%;
	height: 60px;
	margin: auto; 
	border-radius: 2px;
	text-align: center;
	position: absolute; 
	top: 0;
	left: inherit;
}

.themes {
		display:inline-block;
		width: 25%;
		height: 100%;
		margin: 0 5px 0 5px;
		padding: 18px;
		font-size: 22px;
		font-weight:300;		
	font-family:'Roboto', Arial;

} 

.theme-select-a {
		background: #f9f9f9;
		color:cornflowerblue;
		font-size: 22px;
		display: none;
		width: 200px;
		margin: 0 0 0 10px;
		
} 
 

.theme-select-b {
		background: #333;
		color:#eee;
		font-size: 22px;

		width: 200px;
		margin: 0 0 0 10px;
} 

.theme-mobile-a, .theme-mobile-b {
	display: none;
}

.close-btn {
		background: #eee;
		width: 200px;
		text-align:center;
		margin: 20px auto;
	
		padding: 20px;
		font-weight: 100;
	font-family:'Roboto', Arial;
	background:coral !important;
	color:white;
}

.close-btn:hover {
	cursor:crosshair;
}


.instructions {
	color: #7BBC95;
	background: #eee;
	height: 100%;
	padding: 18px;
	font-size: 22px;
	/* font-weight:300; */		
	font-family:'Roboto', Arial;
	min-width: 640px;
	position:relative;
	top: 5px;
	margin: auto;
	margin-bottom: 2px;
	text-align:center;
	display:block; 
	
}

li.instructions:hover {
	opacity: 0.7 !important;
	color:coral;
	background:thistle;
	cursor:crosshair;
}

li.instructions:active {
	background:#f9f9f9 !important;
}


.legend {
	color: #7BBC95;
	background: #eee;
	height: 100%;
	padding: 18px;
	font-size: 22px;
	font-family:'Roboto', Arial;
	min-width: 640px;
	position:relative;
	top: 5px;
	margin: auto;
	margin-bottom: 2px;
	text-align:center;
	display:block; 
	
}

li.legend:hover {
	opacity: 0.7 !important;
	color:coral;
	background:thistle;
	cursor:crosshair;
	
}

li.legend:active {
	background:#f9f9f9 !important;
}


#legend-icons {
	color: #000;
	background: #f5f5f5;
	height: 100%;
	padding: 18px;
	font-size: 22px;
	font-family:'Roboto', Arial;
	min-width: 640px;
	position:relative;
	top: 5px;
	margin: auto;
	text-align:center;
	opacity:0.5;	
}

#legend-icons p {
	opacity:1;
}

#legend-icons table {
	margin:auto;
}

#legend-icons table td {
	padding: 0 50px 0 0;
}

.times {
	font-size: 134px;
	font-weight: 300;
	line-height: 50px;
	padding: 0 0 0 0;
	vertical-align: baseline;
}

.themes:hover {
	opacity:0.5;
}

li.themes:active {
	background:coral;
}

.theme-bar li:hover {
	cursor:crosshair;
}

  
h1 {
	padding: 10px 0px 10px 0;
	font-size: 48px;
	line-height: 60px;
	background: #eee;
		font-family:'Open Sans', Arial;
		text-transform:uppercase;
	text-align: center;
}

h2 {
	font-size: 18px;
	color: #333;
	margin: 30px 0px 10px 0;
	font-family:'Open Sans', Arial;
		font-weight: 600;
	text-transform: uppercase;
}

#add_item {
	
}

#enter-item {
	height: 70px;
	width: 400px;
	font-size: 32px; 
	font-weight: 300;
	color: #238F4E;
	cursor: pointer;
	padding: 0px 0 0 10px;
	font-family:'Open Sans', Arial;

}

::-webkit-input-placeholder {
   color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ddd;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;  
}

:-ms-input-placeholder {  
   color: #ddd;  
}



.list-item {
	height: 70px;
	margin-bottom: 2px;
}

.list-item:hover {
	background:#f5f5f5;

} 
  
.item-container {
	background: #E0EAFB;
	height: 70px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-size: 29px; 
	font-weight: 300; 
	color: #333;
	cursor: pointer;
	padding: 0px 0 0px 10px;
	border-left: 10px solid cornflowerblue;
	font-family:'Open Sans', Arial;
	
}

.item-container:hover {
	cursor:default;
	opacity:0.8;

}
  
#add-btn {
	height: 74px;
	width: 82px;
	float: right; 
	background: #238F4E;
	font-size: 63px;
	border: 1px solid #238F4E;
	padding: 0 0 0 0;
	line-height:0px;
	font-weight: 100;
	font-family:'Roboto', Arial;

}


#add-btn:hover {
	opacity:0.5;

}

#list {
	margin-top: 30px;
	padding: 5px 5px 70px 15px;
	text-align: left;
	list-style: none; 
	width: 100%;
	position: relative;
	border-right: 1px solid #eee;
	border-bottom: 10px solid #7BBC95;
} 

#list li:hover { 
}

span {
	vertical-align: middle;
	position: relative;
	top: 17px;
}

.complete {
	opacity: 0.6;  
} 

.line-menu	{
	display: none;
	float: right;
	margin: 0 -2px 0 0;
}

.delete {
	float: right;
	margin: 0px -70px 0 0px;
	border: 0;
	width: 70px;
	height: 70px;
	position: relative;
	background: tomato;
	opacity: 0.4;
	color: #fff;
	font-size: 115px; 
	line-height: 55px;
	font-weight: 100;
	text-align:center;
	font-family:'Roboto', Arial;
}

li .delete:hover {
	opacity: 0.7;
}

.editbox { 
	float: right; 
	margin: 0 -142px 0 0px;
	border: 0;
	width: 70px;
	height: 70px;
	background: thistle url("..//images/edit.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
	opacity: 0.4;
	color: cornflowerblue;
	font-size: 50px; 
	line-height: 66px;
	font-weight: 100;
	text-align:center;
	font-family:'Roboto', Arial;		
}

.editbox:hover {
	opacity:0.8;
}

.mark {
	float: right; 
	margin: 0px -214px 0 0px;
	border: 0;
	width: 70px;
	height: 70px;
	position: relative;
	right: 0px;
	background: silver url("..//images/check.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
	opacity: 0.4;
	color: #333;
	font-size: 29px; 
	line-height: 33px;
	font-weight: 100;
	text-align:center;
	font-family:'Roboto', Arial;	
}

.mark:hover {
	opacity:0.8;
}

.delete2 {
	background: pink !important;
	color: #fff !important;
	display: inline !important;
}

.show {
	display: inline;
}


