body {
	/*  web font from http://fontspace.com/bythebutterfly/cutie-patootie  */
	
	/* font-family: 'cutie-patootie'; */
	/* background-image: url('images/kitchen.png'); */
	/* background-repeat: no-repeat; */
	/* background-position: top center; */
}
*{
	/* outline: 1px solid red; */
}
.container { 
	width: 100%;
	margin: 0px auto;
	/* background:thistle; */
	display: block;
} 
.input {
	width: 500px; 
	margin-top: 80px; 
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	text-align: center;
	/* position: absolute; */ 
	/* top: 60px; */
	/* display: inline; */
	/* background:cyan; */
	/* background-image: url('images/lines.png'); */
} 
  
#instructions {
	width: 502px;
	height: 100%;
	/* margin: 20px auto; */ 
	position: absolute;
	top: 160px;
	margin: auto;
	padding: 20px 0px 0 0;
	background: #ededed;
	/* border: 00px solid #ededed; */
	border-top: 12px solid coral;
	text-align: left;
	font-family:'Roboto', Arial;
	font-size:24px;
	font-weight:300;
	line-height:30px;
	/* display: none; */
	/* display: block; */
} 

#instructions ol {
	list-style-type:decimal;
	list-style-position: initial;
	padding: 0 0px 0 48px;
	/* opacity: 0.9 !important; */
}

#instructions ol li {
	padding: 0 20px 20px 0;
} 

.theme-bar {
	width: 100%;
	min-width: 640px;
	/* background:thistle; */
	position:relative;
	top: 5px;
	margin: auto;
	text-align:center;
	display:block;
	 
}

.hide {
	display:none;
}

#menu {
	background: slategray;
	width:100%;
	height:68px;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	/* display: none; */
}

#menu-btn {
	background: slategray;
	width: 82px;
	height: 79px;
	margin:1px 0 0 0;
	/* position:absolute; */
	float: right; 
}

#menu-btn:hover {
	opacity:0.7;
}
   
#menu-btn p {
	margin: 0px 0 0px 0;
	color:white;
	/* display: block; */
	/* position: absolute; */
	/* padding: 0 0 40px 0; */
	/* top: 0; */
	/* bottom: 20px; */
	/* background: pink; */
	width: 82px;
	/* height: 22px; */
	font-weight: 300;		
	/* vertical-align: baseline; */
	font-family: 'Open Sans', Arial;
		
	font-size: 75px;

} 


#menu-btn-container {
	width: 100%;
	height: 60px;
	margin: auto; 
	border-radius: 2px;
	text-align: center;
	position: absolute; 
	top: 0;
	left: inherit;
	/* right: inherit; */
	/* display: block; */
	/* background: pink; */
}

.themes {
		display:inline-block;
		width: 25%;
		height: 100%;
		margin: 0 5px 0 5px;
		padding: 18px;
		font-size: 22px;
		font-weight:300;		
	/* vertical-align: baseline; */
	font-family:'Roboto', Arial;

} 

.theme-select-a {
		background: #f9f9f9;
		color:cornflowerblue;
		font-size: 22px;
			display: inline-block;
	
} 


.theme-select-b {
		background: #333;
		color:#eee;
		font-size: 22px;
		display: none;

} 

.theme-mobile-a {
	display:none;
}



.theme-mobile-b {
	display: none;
}

.close-btn {
		/* display:inline-block; */
		background: #eee;
		width: 200px;
		text-align:center;
		margin: 20px auto;
	
		padding: 20px;
		font-weight: 100;
	/* vertical-align: baseline; */
	font-family:'Roboto', Arial;
	background:coral !important;
	color:white;
}

.instructions {
	background:coral !important;
	color:white;
	font-size: 22px;
	
}

li.instructions:hover {
	opacity: 0.7 !important;
	color:white;
}

li.instructions:active {
	background:#f9f9f9 !important;
}

.themes:hover {
	opacity:0.5;
}

li.themes:active {
	background:coral;
}

.theme-bar li:hover {
	cursor:crosshair;
}

  
h1 {
	/* margin-top: 17px; */
	padding: 10px 80px 10px 0;
	font-size: 48px;
	height:60px;
	line-height: 60px;
	/* vertical-align: middle; */
	background: #eee;
	/* margin: 20px 0 20px 0; */
		font-family:'Open Sans', Arial;
		text-transform:uppercase;

	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 18px;
	color: #333;
	margin: 30px 0px 10px 0;
	font-family:'Open Sans', Arial;
		font-weight: 600;

	/* text-align: left; */
	text-transform: uppercase;
}

#item {
	/* margin-top: 8px; */
	height: 70px;
	width: 400px;
	font-size: 32px; 
	font-weight: 300;
	color: #238F4E;
	cursor: pointer;
	padding: 0px 0 0 10px;
	/* font-family:'Lato', Arial; */
	/* font-family:'Droid Sans', Arial; */
	font-family:'Open Sans', Arial;

}

::-webkit-input-placeholder {
   color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ddd;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;  
}

:-ms-input-placeholder {  
   color: #ddd;  
}



.items {
	background: #E0EAFB;

	height: 70px;
	/* vertical-align: middle !important; */
}

.items:hover {
	border-top: 0;
	border-bottom: 0;

} 
  
#add {
	height: 74px;
	width: 82px;
	float: right; 
	background: #238F4E;
	font-size: 63px;
	border: 1px solid #238F4E;
	/* border-radius: 5px; */
	padding: 0 0 0 0;
	line-height:0px;
	font-weight: 100;
	font-family:'Roboto', Arial;

}


#add:hover {
	opacity:0.5;

}

#list {
	margin-top: 30px;
	/* padding: 5px 5px 5px 15px; */
	text-align: left;
	list-style: none;
	width: 100%;
	border-right: 1px solid #eee;
	/* background: darkkhaki; */
} 
#list li { 
	font-size: 29px; 
	font-weight: 300;
	color: #333;
	cursor: pointer;
	padding: 0px 0 0 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	/* font-family:'Lato', Arial; */ 
	/* font-family:'Droid Sans', Arial; */
	font-family:'Open Sans', Arial;
	/* font-family:'Roboto', Arial; */
	
	/* vertical-align: middle !important; */
	/* height: 60px; */
}
span {
	/* padding: 10px; */
	/* background: cadetblue; */
	vertical-align: middle;
	position: relative;
	top: 17px;
}

.box {
	float: left;
	/* margin-top: 3px; */
	margin-right: 30px;
	height: 70px;
	width: 7px;
	background: cornflowerblue;
	border-top: 1px solid cornflowerblue;
	border-bottom: 1px solid cornflowerblue;
	/* border-bottom-right-radius: 10px 15px; */
	/* background: url('images/box_Sprite.png') 0 0; */
	
  color: #fff;
  text-align: center;

	

	/* border-bottom: 3px solid #aaa; */
	/* opacity: 0.5; */
}

.inner-box {
	border:	
}

.Checked {
	height: 70px;
	padding:0;
	background: #aaa;
 	
	font-size: 135px;
	font-weight:300;
	font-family:Helvetica, Arial;	
	border-top: 1px solid #bbb !important;
	border-bottom: 1px solid #bbb !important;

}


.selected {
	background: #f7f7f7;
	color: #ccc !important;
	/* opacity: 0.5; */
	 
} 
.delete {
	float: right;
	margin-top: 0px;
	border: 0;
	/* padding-left:5px; */
	width: 70px;
	height: 70px;
	/* position: absolute; */
	display: none;
	background: #fff;
	opacity: 0.6;
	color: tomato;
	font-size:110px; 
	line-height: 62px;
	font-weight: 100;
	text-align:center;
	/* vertical-align: baseline; */
	font-family:'Roboto', Arial;
	/* border-top: 1px solid #fff; */
	/* border-bottom: 1px solid #fff; */
	
}

.delete2 {
	background: pink !important;
	color: #fff !important;
	display: inline !important;
}

.show {
	display: inline;
}





/* BEGIN MOBILE CSS */
@media only screen and (max-device-width: 480px) {
    html {
	}
	
	body {
	      width: 320px;
	}
	
	.container, {
	  width: 320px;
	  margin:0;
	  
    }

#menu-btn-container. #menu-btn {
	width:320px;
}
	
	#list li {
		font-size:24px;
	}
	
.input {
	   width: 320px;
	   text-align: left;
	   margin: -9px 0 0 0;
}

input {
	width:95% !important;
}

#item {
	width:320px;
	margin: -10px 0 0 0;
}
  
#list {
	display:block;	
	margin: 76px 0 0 0;
	border-top:6px solid slategray;
}

#add {
	width: 100% !important;
height: 74px;
width: 82px;

	display: block;
	margin: 2px 0px 0 0;
	/* text-align: center; */
	float: left;

	/* background: #238F4E; */

	/* font-size: 63px; */

	/* border: 1px solid #238F4E; */
/* border-radius: 5px; */

	/* padding: 0 0 0 0; */

	/* line-height: 0px; */

	/* font-weight: 100; */

	/* font-family: 'Roboto', Arial; */	
	
}

h1 {
	width: 100%;
	font-size: 38px;
	text-align: left;
	padding: 0 0 0px 13px;

}
 
.delete {
	background:transparent;
	opacity:0.3;
	
}

 span {
 }
 
.box {
	margin-right:20px;
}

.theme-bar {
	width:320px;
	top: 0;
	text-align: left;
	margin: 0;
}

.themes {
    margin: 6px auto;
	
    width: 115px;
    font-size: 17px;
    padding: 18px 22px 21px 22px;
    text-align: center;
} 

.theme-select-a, .theme-select-b {
display:none;

}

.theme-mobile-a, .theme-mobile-b {
	display: inline-block;
}

.theme-mobile-a {
		background: #f9f9f9;
		color:cornflowerblue;
		font-size: 22px;
		display: none;
} 


.theme-mobile-b {
		background: #333;
		color:#eee;
		/* font-size: 22px; */
	}



#menu {
	width:320px;
	top: 60px;
}

#menu-btn {
	background: slategray;
	width: 55px;
	height: 60px;
	padding:0px 14px 0 0;
	float: right; 
}

#menu-btn:hover {
	opacity:0.7;
}
    
#menu-btn p {
	margin: -5px 0px 0px -5px;
	font-size: 69px;
} 


#menu-btn-container {
	width: 320px;
	margin: auto; 
	border-radius: 2px;
	text-align: center;
	position: absolute; 
	top: 0;
	left: inherit;
}

#instructions {
width: 320px;
top: 122px;
margin: auto;
padding: 12px 0px 0 0;
border-top: 6px solid coral;
font-size: 18px;
line-height: 27px;
	
}

.close-btn {
	font-size: 25px;
	font-weight: normal;
}
#instructions ol li {
	padding: 0 12px 0 0px;
}

}

/* THEME B */
/* THEME B */
/* THEME B */
/* THEME B */













body {
	background: #000;
	color: #fff;
}





.theme-select-a {
		background: cornflowerblue;
		color:#fff;
		font-size: 22px;
} 

.theme-select-b {
	display: none;
}
 
h2 {
	color: #aaa;
}

#item {
	background: #777;
	color: #fff;
	border:2px solid;
}

.items {
	background: #bbb;
}

#add {
	background: #eee;
	border: 1px solid #eee;
}




#list {
	margin-top: 30px;
	/* padding: 5px 5px 5px 15px; */
	text-align: left;
	list-style: none;
	width: 100%;
	border-right: 1px solid #eee;
	/* background: darkkhaki; */
}

#list li { 
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}


.box { 
	background: tomato;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}



.Checked {
	background: #555;
 		
	border-top: 1px solid #555 !important;
	border-bottom: 1px solid #555 !important;

}


.selected {
	background: #333;
	color: #555 !important;
	 
} 
.delete {
	background: coral;
	color: white;
	opacity: 0.5;
}

.themes:hover {
	background:#444;
}

h1 {
	background:#444;
}

#menu {
	background:#fff;
}

#menu-btn {
		background:#fff;

}

#menu-btn p {
 color:#777;

} 

#instructions {
	background: #333;
	border-top: 12px solid coral;
} 

#instructions ol {
	list-style-type:decimal;
	list-style-position: initial;
	padding: 0 0px 0 48px;
	/* opacity: 0.9 !important; */
}

#instructions ol li {
	padding: 0 20x 20px 0;
}




/* BEGIN MOBILE CSS */
@media only screen and (max-device-width: 480px) {
    html {
	}
	
	body {
	      width: 320px;
	}
	
	.container, {
	  width: 320px;
	  margin:0;
	  
    }

#menu-btn-container. #menu-btn {
	width:320px;
}
	
	#list li {
		font-size:24px;
	}
	
.input {
	   width: 320px;
	   text-align: left;
	   margin: -9px 0 0 0;
}

input {
	width:95% !important;
}

#item {
	width:320px;
	margin: -10px 0 0 0;
}
  
#list {
	display:block;	
	margin: 76px 0 0 0;
	border-top:6px solid slategray;
}

#add {
	width: 100% !important;
height: 74px;
width: 82px;

	display: block;
	margin: 2px 0px 0 0;
	/* text-align: center; */
	float: left;

	/* background: #238F4E; */

	/* font-size: 63px; */

	/* border: 1px solid #238F4E; */
/* border-radius: 5px; */

	/* padding: 0 0 0 0; */

	/* line-height: 0px; */

	/* font-weight: 100; */

	/* font-family: 'Roboto', Arial; */	
	
}

h1 {
	width: 100%;
	font-size: 38px;
	text-align: left;
	padding: 0 0 0px 13px;

}
 
.delete {
	background:transparent;
	opacity:0.3;
	
}

 span {
 }
 
.box {
	margin-right:20px;
}

.theme-bar {
	width:320px;
	top: 0;
	text-align: left;
	margin: 0;
}

.themes {
    margin: 6px auto;
	
    width: 115px;
    font-size: 17px;
    padding: 18px 22px 21px 22px;
    text-align: center;
} 

.theme-select-a, .theme-select-b {
display:none;

}



.theme-mobile-a {
		display: inline-block;
		background:cornflowerblue !important;
		color:white !important;
} 


.theme-mobile-b {

		display: none;
}



#menu {
	width:320px;
	top: 60px;
	background: #777;
}

#menu-btn {
	background: #777;
	color: #fff;
	width: 55px;
	height: 60px;
	padding:0px 14px 0 0;
	float: right; 
}

#menu-btn:hover {
	opacity:0.7;
}
    
#menu-btn p {
	margin: -5px 0px 0px -5px;
	font-size: 69px;
	color: #eee;
} 


#menu-btn-container {
	width: 320px;
	margin: auto; 
	border-radius: 2px;
	text-align: center;
	position: absolute; 
	top: 0;
	left: inherit;
}

#instructions {
width: 320px;
top: 122px;
margin: auto;
padding: 12px 0px 0 0;
border-top: 6px solid coral;
font-size: 18px;
line-height: 27px;
	
}

.close-btn {
	font-size: 25px;
	font-weight: normal;
}
#instructions ol li {
	padding: 0 12px 0 0px;
}

}